* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.internal-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.item {
  margin: 5px 10px 5px 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.img-brand {
  width: 100px;
}

.input {
  display: none;
}

.header-profile {
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.profile {
  align-items: center;
  display: grid;
  padding: 20px;
  grid-template-columns: 30% 45% 10%;
  grid-template-rows: repeat(4, 1fr);
  height: 350px;
  column-gap: 30px;
}

.profile-img {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
  padding: 15x;
}

.img-profile {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.profile-userName {
  align-self: center;
  grid-column: 2/3;
  grid-row: 1;
}

.settings {
  grid-column: 3/4;
  grid-row: 1;
}

.plus {
  color: mediumturquoise;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  left: 40%;
}

.button {
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid gray;
  grid-column: 2/4;
  grid-row: 2;
  padding: 5px;
}

.profile-details {
  grid-column: 1/4;
  grid-row: 3;
  font-size: 14px;
}

.profile-posts {
  display: flex;
  justify-content: space-between;
  grid-column: 1/4;
  grid-row: 4;
}

.buttons-name {
  display: none;
}

.img-collection {
  display: grid;
  justify-items: center;
  gap: 30px;
  padding: 10px;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.close {
  border: none;
  color: white;
  font-size: 25px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.fas {
  color: white;
  font-size: 30px;
}
.fa-chevron-right {
  position: absolute;
  right: 0;
}

.fa-chevron-left {
  position: absolute;
  left: 0;
}
.hidden {
  display: none;
}

.footer {
  align-items: center;
  color: navy;
  font-size: 14px;
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.copy {
  color: gray;
  padding: 10px 20px;
}

.footer-nav {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

@media (min-width: 700px) {
  .container {
    width: 90%;
  }

  .input {
    display: flex;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: center;
    padding: 5px 10px;
  }

  .profile {
    grid-template-columns: 30% 30% 20% 10%;
    grid-template-rows: repeat(3, 1fr);
    padding: 50px;
    gap: 20px;
  }

  .profile-img {
    grid-row: 1/4;
  }

  .img-profile {
    height: 150px;
    width: 150px;
  }

  .profile-userName {
    grid-column: 2/3;
  }

  .settings {
    grid-column: 4/5;
  }

  .button {
    grid-column: 3/4;
    grid-row: 1;
    font-weight: bold;
  }

  .profile-details {
    grid-column: 2/5;
    grid-row: 3;
    font-size: 16px;
  }

  .profile-posts {
    grid-column: 2/5;
    grid-row: 2;
  }

  .buttons-name {
    display: flex;
    font-size: 14px;
  }

  .img-collection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 900px) {
  .container {
    width: 65%;
  }

  .profile {
    column-gap: 25px;
  }
}
